
<body>

  <div class="container-fluid p-5 bg-dark text-white text-center">
    <h1>Personal Trainer</h1>
    <p>Resize this responsive page to see the effect!</p>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-4">
        <h3>ALIMENTACION</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        <img src="assets/image/a.png" alt="">
      </div>
      <div class="col-sm-4">
        <h3>EJERCICIO</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        <img src="assets/image/g.png" alt="">
      </div>
      <div class="col-sm-4">
        <h3>DESCANSO</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        <img src="assets/image/d.png" alt="">
      </div>
    </div>
  </div>

  </body>

